apiVersion: v1
kind: Service
metadata:
  name: weaviate-service
  namespace: jansankalp-db
spec:
  ports:
    - port: 8080
      name: http
    - port: 50051
      name: grpc
  selector:
    app: weaviate
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: weaviate
  namespace: jansankalp-db
spec:
  replicas: 1
  selector:
    matchLabels:
      app: weaviate
  template:
    metadata:
      labels:
        app: weaviate
    spec:
      containers:
        - name: weaviate
          image: semitechnologies/weaviate:1.24.1
          env:
            - name: QUERY_DEFAULTS_LIMIT
              value: "25"
            - name: AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED
              value: "true"
            - name: DEFAULT_VECTORIZER_MODULE
              value: "text2vec-openai"
            - name: ENABLE_MODULES
              value: "text2vec-openai"
            - name: PERSISTENCE_DATA_PATH
              value: "/var/lib/weaviate"
          ports:
            - containerPort: 8080
            - containerPort: 50051
          volumeMounts:
            - name: weaviate-data
              mountPath: /var/lib/weaviate
      volumes:
        - name: weaviate-data
          persistentVolumeClaim:
            claimName: weaviate-pvc
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: weaviate-pvc
  namespace: jansankalp-db
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
